*{
    margin: 0;
    padding: 0;
}

body{
    margin: 20px 50px;
}

.task{
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    padding-top: 20px;
}

p{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

h2{
  font-size: 60px;
  margin: 55px 0;
  color: red;
}