*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(180, 225, 255);
}

div, header{
  background: rgb(254, 255, 237);
}

.task{
  margin: 30px 10%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
}

header{
  margin: 30px 10%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
}

.grid h1{
  padding: 0 10px;
}

.grid h1:nth-child(odd){
  text-align: right;
}

.grid h1:nth-child(even){
  text-align: left;
}

h1{
  text-align: center;
  font-size: 35px;
}

.condition{
  text-align: center;
  font-size: 25px;
  margin: 15px 25%;
  border: 1px dashed gray;
  background: white;
}

p{
  font-size: 20px;
}

.col-10{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 1px solid black;
  margin: 25px 0;
}

.item{
  align-self: center;
  justify-self: center;
}

ul{
  padding: 10px 10px 10px 20px;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: rgb(255, 0, 0);
}

li{
  display: inline-block;
  background: #91ffa9;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  font-size: 25px;
}

li:hover{
  background: #53ff79;
}
.blackSquare{
  position: relative;
  display: block;
  width: 100%;
  height: 600px;
  background-color: black;
  overflow: hidden;
  border-radius: 50px;
  transition: .9s;
}
.blackSquare:hover{
  background-color: rgb(255, 133, 133);
  transition: .9s;
}
.square{
  position: absolute;
  display: block;
  border-radius: 50%;
}